<% provide(:page_title, "All Posts")%>
<% provide(:blog_active, 'active')%>
<div class="row">
	<% @posts.each do |post| %>
		<div class="col-md-4 col-sm-4">
			<div class="card" style="width: 18rem;">
					<%= image_tag post.image.url(:medium)%>
			  <div class="card-body">
			    <h5 class="card-title"><%= truncate(post.title, length:25) %></h5>
			    <p class="card-text">Published <%= post.created_at.strftime("%B, %d, %Y")%></p>
			    <%= link_to "Read More", post, :class=>'btn btn-block btn-primary custom'%>
			  </div>
			</div>
			<br>
		</div>
	<% end %>
</div>

