@import "bootstrap";
@import "variables";
body{
	margin-top: 75px;
}
h5{
	font-family: 'Poppins', sans-serif;
}
.navbar-dark{
	background-image: linear-gradient(to right,$blue, $pink) !important;
	color: $white !important;
}
.navbar-brand{
	font-weight: bold;
}
.navbar-nav .nav-link {
    color: #fff !important;
}